<h1>Список гравців онлайн</h1>
<table>
    <tr>
        <th>Ім'я</th>
        <th>Дія</th>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.user.username }}</td>
        <td>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="player_id" value="{{ player.id }}">
                <button type="submit" name="action" value="enable">Дозволити</button>
                <button type="submit" name="action" value="disable">Заборонити</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
